<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Add User</strong>
                    <small>Form</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="name">User Id</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter the UserId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="name">
                                    <Address></Address>
                                </label>
                                <input type="text" class="form-control" id="address" placeholder="Enter your name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter your city">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postal-code">Postal Code</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="name">Email-Id</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your Email-id">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="ccnumber">Phone Number</label>
                                <input type="text" class="form-control" id="phnumber" placeholder="9151934707">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Create User</button>

                </div>
            </div>
        </div>
    </div>
</div>